DATABASE_URL="postgresql://inventory:inventory@localhost:5432/inventory?schema=public"
NEXTAUTH_SECRET="change-me-to-a-long-random-secret-key-at-least-32-chars"
NEXTAUTH_URL="http://localhost:3000"
AUTH_SECRET="change-me-to-a-long-random-secret-key-at-least-32-chars"
